body {
      font-family: 'Trebuchet MS', sans-serif;
      background-color: #f4f9f9;
      text-align: center;
    }

    form {
      margin-bottom: 20px;
    }

    input, select, button {
      padding: 6px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #A7C7E7;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #3a9186;
    }

    table {
      width: 95%;
      margin: 0 auto;
      border-collapse: collapse;
      background-color: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    th {
      background-color: #BEE3F8;
      color: black;
      padding: 8px;
    }

    td {
      padding: 8px;
      border: 1px solid #ddd;
    }

    img {
      width: 70px;
      border-radius: 8px;
    }